@charset "UTF-8";
/* CSS Document */
body {
  background-color: #ffffff;
  margin: 0px;
  overflow: hidden;
  position: relative;
  font-family: Helvetica, sans-serif;
}

.arrows {
  position: absolute;
  z-index: 2000;
  top: 49%;
  width: 50px;
  height: 50px;
  opacity: 0.7;
}

#holder {
  position: absolute;
  top: 50vh;
  left: calc(50vw - 170px);
  background-color: #ffffff;
}

#bottomRO {
  position: absolute;
}

#arrowL {
  left: 20px;
}

#arrowR {
  right: 20px;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  color: #808080;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #0080ff;
}

#gifInput {
  position: fixed;
  z-index: 20;
  top: 0px;
  width: 300;
  left: 100%;
  margin-left: -300px;
  opacity: 0.7;
}

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.dialogs {
  position: relative;
  width: 340px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 150%;
  color: #999;
  cursor: pointer;
  margin-bottom: 10px;
}

#bottomHolder {
  position: absolute;
  z-index: 2000;
  display: block;
  bottom: 20px;
  left: 20px;
}

#names {
  font-size: 12px;
}

#instructions {
  text-transform: uppercase;
  font-size: 11px;
}

#sound {
}

.close {
  position: absolute;
  font-size: 14px;
  line-height: 150%;
  z-index: 3000;
  color: #999;
  top: 10px;
  cursor: pointer;
  left: 360px;
}
